@charset "utf-8";

body {
  text-align: center;
	background-color: : white;
	overflow: hidden;
	animation: fade1 1.0s;
	animation-fill-mode: forwards;
}
.splash{
	position: fixed;
	background: black;
	width: 100%;
	height: 100%;
	top: 0;
  left: 0;
  z-index: 2147483647;
	opacity: 0;
	animation: slideout 1.0s;
	animation-fill-mode: forwards;
}
.contents{
	margin-top: 14vw;
	opacity: 0;
	animation: fade2 1.0s;
	animation-fill-mode: forwards;
}
header {
	background: white;
	width: 100%;
	height: 6vw;
	box-sizing: border-box;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 1);
}
.title {
	margin-top: 1vw;
	margin-left: 5vw;
}
.title a{
	white-space: nowrap;
	font-size: 3vw;
	text-decoration: none;
	color: black;
}
h1 {
	font-size: 40px;
}
a {
	font-size: 25px;
}
.box {
	//background: url("img/image.png");
	background: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1vw;
	display: block;
	display: flex;
}
img{
	width: 30%;
}
.main{
	width: 40%;
}
.img4{
	position: absolute;
	top: 14vh;
	left: 0vw;
	z-index: -2147483647;
}
.img3{
	position: absolute;
	top: 14vh;
	left: 35vw;
	z-index: -2147483647;
}
.img5{
	position: absolute;
	top: 12vh;
	left: 70vw;
	z-index: -2147483647;
}
@keyframes fade1 {

	0% {
    background: white;
  }
  100% {
    background: url("img/bg.jpg");
  }
}
@keyframes fade2 {

	30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideout {
  0% {
    transform: translateX(-100vw);
    opacity: 1;
  }
	30% {
		opacity: 1;
	}
  100% {
    transform: translateX(100vw);
		opacity: 0;
  }
}