@charset "utf-8";

.logo{
	/* border:solid blue 1px; */
	width:30%;
	margin-left:auto;
	margin-right:auto;
}

.main{
	margin-top:10px;	
	display:flex;	
	/* border:solid red 1px; */
}

.honbun{
	/* border:solid black 1px; */
	width:83%;
	font-size:40px;
	font-family: 'Yuji Mai', serif;
	text-align:center;
}

.add{
    border:solid black 1px; 
	text-align:center;
	width:17%;
}

img{
	width:80%;
}
